.board {
  background-color: pink;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: 2px solid black;
  position: relative;
}

.active {
  border: 4px solid orangered;
}

.hasWater {
  background-color: blue;
  transition-duration: 1000ms;
  position: relative;
}

.modal {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  z-index: 4;
}

.letter {
  object-fit: contain;
  background-color: white;
  border: 2px solid black;
}
