.timer {
  margin-left: 12px;
  border: 2px solid black;
  position: relative;
}
.tileHolder {
  position: absolute;
  top: 0;
  left: 0;
}

.innertimer {
  animation-name: barfill;
  //  animation-duration: 20s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* The animation code */
@keyframes barfill {
  from {
    height: 0%;
    background-color: blue;
  }
  to {
    height: 100%;
    background-color: red;
  }
}

.finalState {
  animation-name: none; /* Stops the animation */
  height: 100%;
  background-color: red;
}
