* {
  box-sizing: border-box;
}
.screen {
  margin: 12px;
  display: flex;
}

.field {
  border: 2px solid black;
  background-color: aliceblue;
}

.board {
  background-color: pink;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: 2px solid black;
}

.active {
  border: 4px solid orangered;
}

.hasWater {
  background-color: blue;
  transition-duration: 1000ms;
  position: relative;
}

//boxes

.box {
  border: 2px solid black;
}

@for $i from 0 through 23 {
  .t#{$i} {
    background-image: url('~/public/images/#{$i}.png');
    background-size: cover;
    background-position: center;
  }
}
